<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <globalization uiCulture="es" culture="es-CO" />
    <!--<customErrors defaultRedirect="custom_error.aspx" mode="On">
    </customErrors>-->
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="act:TwitterConsumerKey" value="eN2QlpmBXYvN8I4Xwb9bCvXon"/>

    <add key="act:TwitterConsumerSecret" value="XOL6wBIAz0QZnQDFimnqRnuHYl7N6tepUvqkQY83G5Nb3JFKAt"/>

    <add key="act:TwitterAccessToken" value="361294768-NF368WBC8G8OHRaNa8wZZIppHRRawHFzqJzPKuVf"/>

    <add key="act:TwitterAccessTokenSecret" value="hW4cNvx8AvdBTkFaM1UhH4AFrQgKytDBc5vrVIW3LBOyG"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.7.0" newVersion="3.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!--<add name="Postgres" connectionString=" Host=177.71.200.156; Database=ForoUdec; User=postgres; Password=1234; Port= 5432;"/>-->
    <!--<add name="Postgres" connectionString=" Host=localhost; Database=ForoUdec; User=postgres; Password=L26t05c14#; Port= 5432;"/>-->
    <add name="Postgres" connectionString="Server=localhost;Port=5432;Database=ForoUdec;User Id=postgres;Password=1234" providerName="Npgsql" />
    <add name="ForoUdecEntities1" connectionString="metadata=res://*/Foro.csdl|res://*/Foro.ssdl|res://*/Foro.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=isw2.cdocpuchhn1n.sa-east-1.rds.amazonaws.com,1474;initial catalog=ForoUdec;persist security info=True;user id=ForoUdec;password=Ingdos123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--Driver={MySQL ODBC 5.1 Driver};    Option=3; Linea de conección a base de datos.-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
</configuration>